
<h3>Multiplication</h3>
<input type="number" @bind="No" />

<h3>Multiplication Table for @No</h3>

@for (int i = 1; i <= 10; i++)
{
    <p>@No x @i = @(No * i)</p>
}
@code {
    [Parameter]
    public int No { get; set; } = 1; // Default value to avoid null reference issues


}
