
<h3>Multiplication</h3>
<input type="number" @bind="No" placeholder="Enter a number" />

<h3>Multiplication Table for @No</h3>

@for (int i = 1; i <= 10; i++)
{
    <p>@No x @i = @(No * i)</p>
}
@code {
    [Parameter]
    public int No { get; set; }


}
